html,
body,
#app,
#main,
.form-builder {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow: hidden;
}

.form-builder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-builder__sidebar {
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  width: 300px;
  min-width: 300px;
}

.form-builder__container {
  /* flex box item */
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3; // -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.28);
  // -moz-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.28);
  // box-shadow: 0 7px 12px rgba(0, 0, 0, 0.28);
  /* flex box container */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.form-builder__nav {
  min-height: 50px;
  border-bottom: 1px solid #F2F4F8;
}

.form-builder__content {
  flex-grow: 1;
  /* flex box container */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.builder__editing-panel {
  max-width: 35%;
  width: 35%;
  overflow: auto;
}

.builder__render-panel {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-left: 1px solid #F2F4F8;
  padding: 15px;
  max-width: 65%;
  width: 65%;
  overflow: auto;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #F2F4F8;
}

::-webkit-scrollbar-thumb {
  background: #dcdee0;
  -webkit-border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background: #F2F4F8;
}
