.form-group {
  margin: 0
}

.form-group.field.field-object {
  width: 100%;
}

.field__label {
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
}

.field__label.left-align {
  float: left;
  width: 30%;
  margin-right: 3%;
  text-align: left;
}

.input-group {
  width: 100%;
}

.input-group.label-left-align {
  width: 67%;
  margin-left: 33%;
}
