.form__default-bootstrap {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.field__default-bootstrap .checkboxes,
.field__default-bootstrap .field-radio-group {
  padding: 15px;
}

// field box shadow
.field--box-shadow .form-control,
.field--box-shadow .checkboxes,
.field--box-shadow .field-radio-group {
  box-shadow: rgba(50, 50, 50, 0.2) 0px 0px 7px 0px;
}

.inline-checkboxes .radio+.radio,
.inline-checkboxes .checkbox+.checkbox {
  margin-top: 0px !important;
}

.inline-checkboxes .checkboxes,
.inline-checkboxes .field-radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

// font-size
.form-group .form-control {
  font-size: inherit;
}

// label alignment

.d-table {
  display: table;
}

.form-group.d-table .control-label {
  padding-right: 10px;
  margin-bottom: 0px;
  min-width: 15%;
  word-wrap: break-word;
  display: table-cell;
  height: 100%;
}

.form-group.d-table {
  height: 100%;
}

.form-group.d-table.control-label--right-align .control-label {
  text-align: right;
}

.form-group .checkboxes .checkbox label span span,
.form-group .field-radio-group .radio label span span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -20px;
  height: 36px;
  margin-right: 20px;
}

// checkboxes and radio
.form-group .checkboxes .checkbox label span span:before,
.form-group .field-radio-group .radio label span span:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  box-shadow: rgba(41, 39, 39, 0.37) 0px 0px 7px 0px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.form-group .checkboxes .checkbox label span span:after,
.form-group .field-radio-group .radio label span span:after {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: -1px;
  top: 10px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 10px;
  color: #555555;
}

.form-group .checkboxes .checkbox input[type="checkbox"]:checked+span:after,
.form-group .field-radio-group .radio input[type="radio"]:checked+span:after {
  font-family: "FontAwesome";
  content: "\f00c";
}

.form-group .field-radio-group .radio input[type="radio"],
.form-group .field-radio-group .radio-inline input[type="radio"],
.form-group .checkboxes .checkbox input[type="checkbox"],
.form-group .checkboxes .checkbox-inline input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
}

.form-group .field-radio-group .radio label span span:before {
  border-radius: 50%;
}

.form-group .checkboxes,
.form-group .field-radio-group {
  width: 100%;
}

.form-group .checkboxes .checkbox,
.form-group .field-radio-group .radio {
  margin: 0;
}

// no box shadow
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

