.editing-panel__empty-drop-zone {
  height: 100%;
  width: 100%;
  padding: 15px;
  text-align: center;
}

.empty-drop-zone__placeholder-container h4 {
  width: 86%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 55px;
}
