
.field-setting__item--select-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-left: 0.5rem;
  cursor: pointer;
}

.field-setting__item--select-option span {
  margin-right: 8px;
  text-transform: lowercase;
  font-size: 13px;
}

.field-setting__item--select-option p {
  text-transform: lowercase;
  font-size: 13px;
}
