.field-setting__item {
  padding: 0.5rem;
  margin-bottom: 15px;
  width: 190px;
}

.field-setting__item--select-container .Select {
  width: 100%;
}

.field-setting__item--toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.field-setting__item--toggle p {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-basis: 95px;
}

.field-setting__item--toggle div {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-right: -32px;
}

.field-setting__react-toggle.react-toggle--checked .react-toggle-track {
  background-color: #57AAED;
}


.builder__field-settings--empty {
  width: 100%;
  padding: 21px 31px;
  font-size: 13px;
}

.field-setting__select-label {
  margin-bottom: 10px;
}
