.builder__draggable-field {
  opacity: 1;
  width: 92%;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.draggable-field__control-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 8px;
}

.draggable-field__control-btn {
  padding: 5px;
  background: #F7F7F7;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 20px;
}

.draggable-field__control-btn.question {
  cursor: move;
  width: 60px;
  font-size: 12px;
}

.draggable-field__control-btn.question p .fa {
  margin-right: 5px;
}

.draggable-field__control-btn.arrows {
  cursor: move;
}

.draggable-field__control-btn.trash-o {
  cursor: pointer;
}

.draggable-field__field-container {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}

.draggable-field__drag-preview {
  width: 270px;
  height: 44px;
  position: relative;
  padding: 0.625em 0.625em 0.625em 0.3125em;
}
